<h1>Pictures (<%= @pictures.length %>)</h1>
<%= link_to "New Picture", "/pictures/new" %>

<h1>Most recent pictures</h1>
<ul>
  <% @most_recent_pictures.each do |picture| %>
    <li><%= picture.title %></li>
  <% end %>
</ul>

<h1>Pictures posted more than 1 day ago (<%= Picture.created_before(1.day.ago).count %>)
</h1>
<ul>
<% @oldest_pictures.each do |p| %>
<li><%= p.title %></li>
<% end %>
</ul>
<br>

<% @pictures.each do |picture| %>
  <p><%= picture[:title] %>, <%= picture[:artist] %></p>
  <p><%= picture[:comment] %></p>
<%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
<% end %>